<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{one_friend}}
    {{all_friends}}

    {% for friend in one_friend: %}
    <form action="/friends/{{friend['id']}}/update" method="post">
       <p>ID: {{ friend['id'] }}</p>
       <p>First Name: <input type="text" name="first_name" value="{{ friend['first_name'] }}"></p>
       <p>Last Name: <input type="text" name="last_name"value="{{ friend['last_name'] }}"</p>
       <p>Occupation: <input type="text" name="occupation"value="{{ friend['occupation'] }}"</p>
       <hr>

          <input type="submit" value="savechanges">
       </form>

    {% endfor %}

    <h1>These are all my friends!</h1>
<!-- with all the data we can then construct a more structured output -->
{% for friend in all_friends: %}
   <p>ID: {{ friend['id'] }}</p>
   <p>First Name: {{ friend['first_name'] }}</p>
   <p>Last Name: {{ friend['last_name'] }}</p>
   <p>Occupation: {{ friend['occupation'] }}</p>
   <hr>
   <form  action="/friends/{{friend['id']}}" method="get">
     <input type="submit" name="edit" value="edit">

   </form>
   <form action="/remove_friend/{{friend['id']}}" method="post">
     <input type="submit" name="delete" value="delete">

   </form>
{% endfor %}



      <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
    <input type="submit" value="Add">
  </form>



  </body>
</html>
