<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='reg.css')}}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flashes">
        {% for category, message in messages %}


          <p class ="{{ category }}">{{ message }}</p>

        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <form action="/process" method="post">
    E-mail:  <input type="text" name="email">
    <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
