<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='ninja1.css')}}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src = "{{url_for('static',filename='ninja1.png')}}">
    <h3>Lorem ipsum dolor sit amet, ne vide indoctum eum. Cum zril lucilius an. Eos cu nominavi atomorum referrentur. Pro aliquam sensibus gubergren at, etiam nominati sit no. Epicuri similique usu ex, ad nisl malorum fuisset sed. Ea eros elitr ius, nec at diam habeo perfecto, sea cu tollit posidonium.

At magna scripserit eum, te nam ignota ceteros. Est nibh lobortis ad, an usu essent integre, probo movet iriure ut duo. Ne impedit menandri pro, et eum omnium alienum conclusionemque. Te vim prompta tibique consequat, sea alia error cu. At ridens honestatis pri. Novum putant perpetua sed te.

Ad harum vocibus mea, id vix commodo verterem voluptatibus. Qui eu integre fierent. Veri antiopam inciderint no mel, in qui causae facilis, pri graeco rationibus adversarium ea. Essent intellegat dissentias ut quo. Unum abhorreant assueverit an mel, propriae omnesque an sed, ea oportere qualisque torquatos pri. Eum adhuc invenire urbanitas ne. Ad vel stet eruditi, et soleat detracto intellegam has.

Purto aliquid mei an, eos modo ponderum efficiantur eu. Graecis vivendo ei ius. Eu duo recusabo incorrupte consectetuer, ex iusto splendide qui. Sea ne nonumes verterem, ei cum fuisset vituperatoribus, admodum interpretaris in duo. No eum ullum suscipit, mei no accusam adversarium, ea est elit consetetur.

No vim apeirian recusabo, ne fierent consetetur est. Quando nonumy ex has, has ad graeci principes, ex vis prompta iuvaret incorrupte. Sit possit aliquip inciderint ea, te stet partiendo neglegentur qui. Maluisset dissentiet pri an. Ei epicurei conceptam repudiandae eos, dicit alterum ea usu, est detraxit deseruisse conclusionemque id. Quem quaerendum at sed, ad mea sale option. Quo scaevola reprehendunt ne, ex quodsi expetenda eos.</h3>
  </body>
</html>
